body{
	width: 100%;
	height: 100%;
	background-color:#Fff;
	font-family: "微软雅黑";
	color: black;
}
html{
	width: 100%;
	height: 100%;
}
*{
	margin: 0;
	padding: 0;
}
li { list-style:none; }
a { text-decoration:none;color: black }
img { border:none;}  /* 去除IE下默认边框,顶部对齐 */
p{margin: 0;padding: 0;}
.mui-bar{
	padding: 0 !important;
	height:44px;
	padding: 0 10px;
	background: #fd5100;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.mui-bar .back{
	float: left;
	width: 10.325%;
	height: 44px;
	display: inline-block;
	position: relative;
}
.mui-bar .back img{
	width: 11px;
	height: 19px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.mui-title{
	color: #fff;
	font-size:15px ;
}
.mui-bar-nav~.mui-content{
	width: 100%;
	height: 100%;
	padding-top:44px;
	padding-bottom: 60px;
}
/**/
.mui-content{
	width: 100%;
	padding: 0 25px;
	background: #fff;
}
.mui-content p{
	margin-top: 17px;
	width: 100%;
	line-height: 16px;
	color: #333333;
	font-size: 12px;
	text-indent: 24px;
}
