body{
	width: 100%;
	height: 100%;
	background-color:#F5F5F5 ;
	font-family: "微软雅黑";
	color: black;
}
html{
	width: 100%;
	height: 100%;
}
*{
	margin: 0;
	padding: 0;
}
li { list-style:none; }
a { text-decoration:none;color: black }
img{padding:0; border:0;margin:0;display:block;}
p{margin: 0;padding: 0;}
.mui-bar{
	padding: 0 !important;
	height:44px;
	padding: 0 10px;
	background: #fd5100;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.mui-bar .back{
	float: left;
	width: 10.325%;
	height: 44px;
	display: inline-block;
	position: relative;
}
.mui-bar .back img{
	width: 11px;
	height: 19px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.mui-title{
	color: #fff;
	font-size:15px ;
}
.mui-bar-nav~.mui-content{
	width: 100%;
	height: 100%;
	padding-top:44px;
	padding-bottom: 60px;
}
/**/
.main{
	padding: 0 15px;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #ddd;
}
.main p{
	width: 100%;
	height: 44px;
	border-bottom: 1px dotted #ddd;
}
.main p:last-child{
	border-bottom: none;
}
.main p input{
	margin: 0;
	padding: 0;
	width: 70%;
	height: 100%;
	line-height:47px ;
	color: #333333;
	font-size: 12px;
	border: none;
}
.main p button{
	padding: 0;
	margin: 0;
	margin-top: 10px ;
	display: inline-block;
	float: right;
	padding: 0 5px;
	height: 22px;
	text-align: center;
	line-height: 22px;
	color: #fff;
	font-size: 12px;
	background: #FD5100;
	border-radius: 3px;
	border: none;
}
/*placeholder样式*/
::-webkit-input-placeholder {color:#999;font-size: 12px; }
::-moz-placeholder {color:#999;font-size: 12px; } /* firefox 19+ */
:-ms-input-placeholder {color:#999;font-size: 12px;} /* ie */
input:-moz-placeholder {color:#999;font-size: 12px;}


.mui-content-padded {
	margin: auto;
	margin-top:284px;
}
#login{
	padding: 0;
	margin: auto;
	width:100%;
	height:44px !important;
	text-align: center;
	line-height:44px;
	color: #fff;
	font-size: 14px;
	border: none;
	background:#FD5100 !important;
}
