body{
	width: 100%;
	height: 100%;
	background-color:#f0f0f0 ;
	font-family: "微软雅黑";
	color: black;	
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 1px;  
    height: 1px;  
    background-color:transparent;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 6px transparent;  
    border-radius: 1px;  
    background-color:transparent;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 1px;  
    -webkit-box-shadow: inset 0 0 6px transparent;  
    background-color: transparent;  
}  
html{
	width: 100%;
	height: 100%;
}
*{
	margin: 0;
	padding: 0;
}
li { list-style:none; }
a { text-decoration:none;color: black }
img { border:none;}  /* 去除IE下默认边框,顶部对齐 */
p{margin: 0;padding: 0;}
.mui-bar{
	padding: 0 !important;
	height:44px;
	padding: 0 10px;
	background: #fd5100;
}
.mui-bar .back{
	float: left;
	width: 10.325%;
	height: 44px;
	display: inline-block;
	position: relative;
}
.mui-bar .back img{
	width: 11px;
	height: 19px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.mui-bar .ss{
	display: inline-block;
	float: right;
	width: 10.325%;
	height: 44px;
	position: relative;
}
.mui-bar .ss img{
	float: left;
	width:12px;
	height:13px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.mui-title{
	float: left;
	text-align: center;
	color: #fff;
	font-size: 15px;
}

.mui-bar-nav~.mui-content{
	padding-top:44px;
	padding-bottom: 60px;
	background: #f5f5f5;
	
}
.banner{
	padding: 8px 10px;
	width: 100%;
	height:44px;
	position: relative;
	overflow: hidden;
	background: #fff;
	border-bottom: 1px solid #ccc;
}
.banner div{
	width:100%;
	height:29px;
	line-height:29px;
	border-radius:15px;
    background: #f5f5f5;
	background-size: contain;
}
.banner div a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.banner div  a img{
	float: left;
	width:14px;
	height:13px;
	margin:8px 0 0 14px;
	
}
.banner div a input{
	float: left;
	width:70%;
	height:25px;
	line-height:25px;
	margin:2px 7px ;
	padding: 0;
	padding-top: 2px;
	border: none;
	font-size:12px;
	color:#333;
	vertical-align: bottom;
	background: #f5f5f5;
}
::-webkit-input-placeholder { color:#666;font-size:12px; }
::-moz-placeholder { color:#666; font-size:12px;} /* firefox 19+ */
:-ms-input-placeholder { color:#666; font-size:12px;} /* ie */
input:-moz-placeholder { color:#666; font-size:12px;}
/**/
.dianpu{
	margin: 10px 0;
	width: 100%;
	height:86px;
	padding: 10px;
	position: relative;
	background: white;
}
.dianpu_left{
	margin-right: 10px;
	float: left;
	width: 66px;		
}
.dianpu_left img{
	width: 100%;
}
.dianpu_right{
	float: left;
	width: 224px;
}
.dianpu_right p:nth-child(1){
	height: 18px;
	line-height: 18px;
	color: #333333;
	font-size: 15px;
	font-weight: bold;
}
.dianpu_right p:nth-child(2){
	height: 27px;
	line-height: 27px;
	color: #666;
	font-size: 12px;
}
/*///////////////////*/
.mui-slider{
	/*height: 300px;*/
	overflow: hidden;
	margin-top:10px;
	background:#f0f0f0;
}
/*顶部选项卡*/
.mui-slider-indicator.mui-segmented-control{
	height:44px;
	
}
.mui-slider-indicator.mui-segmented-control{
	background:white;
	border-bottom: 1px solid #ccc;
}
/*滚动条*/
.mui-segmented-control.mui-segmented-control-inverted~.mui-slider-progress-bar{
	height:3px;
	background-color: #ec6e21;
	margin-top: -3px;
}
/*a标签*/
#sliderSegmentedControl .mui-control-item{
	/*line-height: 2.2rem;*/
	font-size:12px;
	color: #666666;
}
#sliderSegmentedControl .mui-control-item.mui-active{
	color: #333333;
	border-bottom: none;
}
/*侧导航样式*/
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item{
	width: 100%;

}
.mui-segmented-control{
	font-size:12px;
	color: #333333;
	
}
/*a标签*/
.mui-segmented-control.mui-segmented-control-vertical .mui-control-item{
	font-size:12px;
	color: #333333;
	background: #f5f5f5;
}
.mui-segmented-control .mui-control-item{
	height:50px;
	line-height:50px;
	border-bottom: 1px solid #d9d9d9;
	
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
	color: #ec6e21;
	border-bottom:1px solid #d9d9d9;
	background: white;
}
/*////////////////////////*/
.celan{
	/*height: 300px;*/
	height: 100%;
	overflow: scroll;
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item{
	border-top: 0;
	border-bottom: 0;
	height: 100%;
	/*height:300px;*/
	overflow: scroll;
}
.mui-segmented-control{
	/*height: 300px;*/
	height: 100%;
	/*overflow: scroll;*/
}
#segmentedControls1{
	/*height: 300px;*/
	height: 100%;
	overflow: scroll;
	
}
#segmentedControlContents1{
	/*height: 300px;*/
	height: 100%;
	overflow: scroll;
}
#item2mobile,#item3mobile,#item4mobile{
	/*height: 300px;*/
	height: 100%;
	overflow: scroll;
}
.item_tit{
	padding: 0 10px;
	width: 100%;
	height: 43px;
	line-height: 43px;
	color: #333333;
	font-size: 12px;
}
ul.listt>li{
	padding: 10px;
	position: relative;
	width: 100%;
	height: 104px;
	background: #fff;
}
ul.listt>li div.listt_left{
	float: left;
	margin-right: 10px;
	width: 55px;
	height: 55px;
	overflow: hidden;
}
ul.listt>li div.listt_left img{
	width: 100%;
}
.listt_right{
	float: left;
	width: 153px;
	height: 94px;
	border-bottom: 1px solid #ccc;
}
ul.listt>li:last-child .listt_right{
	border: none;
}
.listt_right p:nth-child(1){
	height: 15px;
	line-height: 15px;
	color: #333333;
	font-size: 15px;
	
}
.listt_right p:nth-child(2){
	height: 25px;
	line-height: 25px;
	color: #666;
	font-size: 10px;
	
}
.listt_right p:nth-child(3){
	margin-bottom: 11px;
	height: 11px;
	line-height: 11px;
	color: #666;
	font-size: 10px;
	
}
.listt_right p:nth-child(4){
	height: 18px;	
	line-height: 18px;
	color: #FD5100;
	font-size: 12px;
	
}
.listt_right p:nth-child(5){
	width:15px;
	height:15px;	
	border-radius:50%;
	background:url(../../img/shouye/jia.png) no-repeat;
	background-size: 15px 15px;
	position: absolute;
	top:74px;
	right:10px;
	z-index: 333;
	
}
.listt_right p:nth-child(6){
	display: none;
	width:55px;
	height:15px;
	position: absolute;
	top:74px;
	right:10px;
}
.listt_right p:nth-child(6) input.sub{
	float: left;
	padding: 0;
	margin: 0;
	width:15px;
	height:15px;
	border: none;
	background: url(../../img/shouye/jian.png) no-repeat center;
	background-size: 15px 15px;
}
.listt_right p:nth-child(6) span{
	float: left;
	display: inline-block;
	padding: 0;
	margin: 0;
	width:24px;
	height:15px;
	line-height:15px;
	text-align: center;
    color: #06c1ae;
    font-size:12px;
    border: none;
}
.listt_right p:nth-child(6) input.add{
	float: right;
	padding: 0;
	margin: 0;
	width:15px;
	height:15px;
	border: none;
	background:url(../../img/shouye/jia.png) no-repeat center;
	background-size:15px 15px;
}
/**/
.item2_tit{
	padding: 12px 10px;
	width: 100%;
	height: 45px;
	background: #fff;
	
}
.item2_tit span{
	display: inline-block;
}
.item2_tit span:nth-child(1){
	margin-right: 8px;
	color: #333333;
	font-size: 12px;
}
.item2_tit span:nth-child(2){
	color: #2F9EF0;
	font-size: 12px;
}
.item2_tit span:nth-child(3){
	float: right;
}
.item2_tit span:nth-child(3) img{
	margin: 0 2px;
	width: 13px !important;
}
.item2_txt{
	padding: 0 10px;
	width: 100%;
	height: 277px;
	overflow-y: scroll;
	background: #fff;
	border-top: 1px solid #ccc;
}
.item2_txt li{
	padding: 10px 0;
	width: 100%;
	height: 45px;
	border-bottom: 1px solid #ccc;
	position: relative;
}
.item2_txt li span{
	display: inline-block;
}
.item2_txt li span:nth-child(1){
	margin-right: 8px;
	width: 27px;
	height: 27px;
	overflow: hidden;
	border-radius: 50%;
}
.item2_txt li span:nth-child(2){
	margin-right: 8px;
	width: 70px;
	height: 27px;
    line-height: 27px;
    color: #333333;
    font-size: 12px;
    position: absolute;
    top: 10px;
    left: 12.235%;
}
.item2_txt li span:nth-child(3){
	position: absolute;
	top: 12px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.item2_txt li span:nth-child(3) img{
	margin: 0 2px;
	width: 13px !important;
}
.item2_txt li span:nth-child(4){
	float: right;
	height: 27px;
    line-height: 27px;
    color: #666;
    font-size: 10px;
}
#item3mobile{
	padding: 0 10px;
	background: #fff;
	overflow-y: scroll;
}
.item3_txt{
	height: 400px;
	overflow-y: scroll;
}
.item3_list{
	width: 100%;
	height: 45px;
	line-height: 45px;
	border-bottom: 1px solid #ccc;
	background: #fff;
	color: #333333;
	font-size: 12px;
	position: relative;
}
.item3_list span{
	display: inline-block;
	height: 45px;
	line-height: 45px;
}
.item3_list span:nth-child(1){
   float: left;

}
.item3_list span:nth-child(2){
    display: inline-block;
    width: 70%;

}
.item3_list span:nth-child(3){
	float: right;
}
.item3_list span:nth-child(3) img{
	margin-top: 15px;
}
.right{
	width: 7px !important;
}
.huanjing{
	width: 100%;
}
.huanjing p{
	width: 100%;
	height: 45px;
	line-height: 45px;
	color: #333333;
	font-size: 12px;
}
.huanjing ul li{
	margin-right: 10px;
	float: left;
	width: 57px;
	height: 57px;
	overflow: hidden;
	position: relative;
}
.huanjing ul li img{
	width: 100%;
}
.huanjing ul li span{
	padding:3px 5px;
	display: inline-block;
	width: 20px;
	height: 35px;
	line-height: 14px;
	background: rgba(0,0,0,0.5);
	color: #fff;
	font-size:12px ;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}
/*//单击购物车图标//*/
.mui-backdrop{
	z-index: 8;
}
.mui-popover{
	position: fixed;
	bottom:0;
	width: 100%;
	/*height: 10rem;*/
}
.mui-popover .mui-table-view{
	padding:2px 0px 15px 0px ;
	max-height:182.5px;
	border-bottom:2px solid #d9d9d9;
	border-radius: 0;
}

.mui-popover .mui-table-view-cell{
	float: left;
	padding: 0;
	background: #fff;
	margin-top: 19px;
	
}
.mui-popover .mui-popover-arrow.mui-bottom{
	left: -12px !important;
}
.Q{
	
	position: fixed;
	z-index: 10;
	top: 320px !important;
	left: 0 !important;
}
.Q>p{
	padding: 0 12px;
	width: 100%;
	height: 45px;
	text-align: left;
	line-height:45px;
	color: #333;
	font-size:15px;
	font-weight: bold;
	border-bottom:1px solid #d9d9d9;
}
.Q>p>span img{
	width: 11px;
	margin-top: 8px;
	margin-right: 8px;
}
.Q>p>span{
	float: right;
	font-weight: 100;
	color: #333;
	font-size: 12px;
}
.mui-popover .mui-scroll-wrapper{
	padding-bottom: 50px;
	margin-top: 45px  !important;
	overflow-y: scroll;
}
.mui-popover{
	border-radius: 0;
	background: #fff;
}
.UL{
	padding: 0 !important;
	border: none !important;
}
.LI{
	margin: 0 !important;
	padding: 0 12px !important;
	width: 100% !important;
	height: 45px !important;
	line-height: 45px !important;
	border-radius: 0 !important;
	border-bottom:1px solid #d9d9d9 !important;
	position: relative;
}
.LI>p{
	float: left;
}
.LI>p:nth-child(1){
	height: 45px;
	line-height: 45px;
	color: #333333;
	font-size:14px;
}
.LI>p:nth-child(2){
	height: 45px;
	line-height:45px;
	color: #ed6c21;
	font-size:14px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.LI>p:nth-child(3){
	position: absolute;
	top:15px;
	right:12px;
}
.sub1{
	float: left;
	padding: 0;
	margin: 0;
	width:15px;
	height:15px;
	border: none;
	background: url(../../img/shouye/jian.png) no-repeat center;
	background-size: 15px 15px;
}
.LI>p:nth-child(3)>span,
.fenshu1{
	float: left;
	display: inline-block;
	padding: 0;
	margin: 0;
	width:27px;
	height:15px;
	line-height:15px;
	text-align: center;
    color: #2F9EF0;
    font-size:12px;
    border: none;
}
.add1{
	float: left;
	padding: 0;
	margin: 0;
	width:15px;
	height:15px;
	border: none;
	background:url(../../img/shouye/jia.png) no-repeat center;
	background-size:15px 15px;
}


/*底部*/
nav{
	background: white !important;
	height: 49px !important;
	position: relative;
}

nav>p{
	float: left;	
}
nav>p:nth-child(1){
	width: 75%;
	height: 50px;
}
nav>p:nth-child(1)>a{
	width: 15%;
	position: absolute;
	left:2.9%;
	top:5px;
}
nav>p:nth-child(1)>a>img{
	width:39px;
	height:39px;	
}
nav>p:nth-child(1)>span.sum{
	display: none;
    height:50px;
    line-height:50px;
	font-size:14px;
	color: #999999;
	position: absolute;
	top:0 ;
	left:60px;
}
nav>p:nth-child(1)>span.sum1{
	width: 56%;
	padding: 5px 0;
    height:50px;
    line-height:20px;
	/*font-size:14px;
	color: #999999;*/
	position: absolute;
	top:0 ;
	left:60px;
}
.sum1 b:nth-child(1){
	display: block;
	color: #FD5100;
	font-size: 14px;
	font-weight: 100;
}
.sum1 b:nth-child(2){
	display: block;
	color: #666;
	font-size: 12px;
	font-weight: 100;
}
nav>p:nth-child(2){
	width:25%;
	height:49px;
	line-height:49px;
	text-align: center;
	color: white;
	font-size:14px;
	background: #999999;
	position: absolute;
	top: 0;
	right: 0;	
}

/*//nav下的加入购物车后的标签///*/
.fenshu{
	display:none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	position: absolute;
	top:0%;
	left:32px;
	background: #2F9EF0;
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 15px;
}
/**/
/**/
.fenxiang{
	display:none;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 44px;
	left: 0;
	z-index: 99;
}
.fenxiang_box{
	width: 100%;
	height: 213px;
	background: #fff;
	position: fixed;
	left: 0;
	bottom: 0;
}
.fenxiang_box p{
	width: 100%;
	height: 44px;
	text-align: center;
	line-height: 44px;
	color: #333333;
	font-size: 13px;
	border-bottom: 1px solid #ccc;
}
.fenxiang_box ul{
	padding: 0 1.565%;
	width: 100%;
	height: 170px;
}
.fenxiang_box ul li{
	margin: 14px 5.325% 0 5.325%;
	float: left;
	width: 14.195%;
	text-align: center;
	height: 61px;
}
.fenxiang_box ul li img{
	margin: auto;
	width: 40px;
}
.fenxiang_box ul li span{
	display: inline-block;
	width: 100%;
	height: 12px;
	text-align: center;
	line-height: 12px;
	color: #333333;
	font-size: 12px;
}
