body{
	width: 100%;
	background-color:#f5f5f5;
	font-family: "微软雅黑";
	color: black;
}
html{
	width: 100%;
}
*{
	margin: 0;
	padding: 0;
}
li { list-style:none; }
a { text-decoration:none;color: black }
p{margin: 0;padding: 0;}
img{padding:0; border:0;margin:0;display:block;}
.mui-bar{
	height:44px;
	padding: 0 10px;
	background: #fd5100;
}
ul.head>li{
	float: left;
	height:44px;
}
ul.head>li:nth-child(1) {
	width:13.335%;
	position: relative;
}
ul.head>li:nth-child(1) a{
	display: block;
	width:100%;
	height: 44px;
	line-height: 44px;
	position: absolute;
	top: 0;
}
ul.head>li:nth-child(1) a span{
	float: left;
	display: inline-block;
	/*width:33px;*/
	width: 80%;
	height: 44px;
	text-align: center;
	line-height: 44px;
	font-size:13px;
	color: white;
}
ul.head>li:nth-child(1) a img{
	margin-top:19px;
	margin-right: 3px;
	/*float: right;*/
	width:6.5px;
	height:6px;
}
ul.head>li:nth-child(3){
	float: right;
	width: 6%;
}
ul.head>li:nth-child(3) a{
	display: block;
	width:100%;
}
ul.head>li:nth-child(3) a p:nth-child(1){
	height:18.5px;
	margin-top:13px;
}
ul.head>li:nth-child(3) a p:nth-child(1)>img{
	width:18px;


}

ul.head>li:nth-child(2){
	margin:8px 3.67%;
	width:73%;
	height:28px;
	border-radius: 30px;
	background: #FFF;
	overflow: hidden;
}
ul.head>li:nth-child(2) a{
	display: inline-block;
	width: 100%;
	height: 100%;
}

ul.head>li:nth-child(2)  a img{
	float: left;
	width:14px;
	height:13px;
	margin:7px 0px 0 14px;
	
}
/*ul.head>li:nth-child(2) a span{
	display: inline-block;
	height: 28px;
	line-height: 29px;
	color: #333333;
	font-size: 12px;
}*/
ul.head>li:nth-child(2) a input{
	float: left;
	width:70%;
	height:25px;
	line-height:25px;
	margin:2px 7px ;
	padding: 0;
	padding-top: 2px;
	border: none;
	font-size:12px;
	color:#333;
	vertical-align: bottom;
	background-color: #fff;
}
::-webkit-input-placeholder { color:#999;font-size:12px; }
::-moz-placeholder { color:#999; font-size:12px;} /* firefox 19+ */
:-ms-input-placeholder { color:#999; font-size:12px;} /* ie */
input:-moz-placeholder { color:#999; font-size:12px;}

.mui-bar-nav~.mui-content{
	padding-top:40px;
	padding-bottom: 60px;
}
/**/
.mui-slider{
	width: 100%;
	height: 100px;
	overflow: hidden;
}
.mui-slider img{
	width: 100%;
}
.mui-slider-indicator{
	bottom: 12px;
}
.mui-slider-indicator .mui-indicator{
	margin: 0 4px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	box-shadow: none;
	background: #fff;

}
.mui-slider-indicator .mui-active.mui-indicator{
	background: #2f9ef0;
}
.nav{
	padding: -1 10px;
	margin-top: 10px;
	width: 100%;
	height: 83px;
	position: relative;
	z-index: 3;
	
}
.nav ul{
	padding: 10px 0.835%;
	width: 100%;
	height: 83px;
	background: #fff;
}
.nav ul li{
	float: left;
	margin: 0 0.85%;
	width:18.3%;
	height: 63px;
	text-align: center;
	position: relative;
}
.nav ul li a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.nav ul li a img{
	margin: auto;
	/*margin-bottom: 8px;*/
	width: 44px;
	height: 44px;
	border-radius: 50%;
}
.nav ul li a span{
	display: inline-block;
	width: 100%;
	height: 10px;
	text-align: center;
	line-height: 10px;
	color: #333333;
	font-size: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
}
.huodong{
	padding: 0 10px;
	margin-top: 10px;
	width: 100%;
	background: #fff;
}
.huodong_tit,.fenlei_tit{
	width: 100%;
	height: 30px;
}
.huodong_tit p,.fenlei_tit p{
	margin: auto;
	width: 69px;
	height: 30px;
	line-height: 30px;
	color: #333333;
	font-weight: bold;
	font-size: 12px;
}
.huodong_tit p img,.fenlei_tit p img{
	float: left;
	margin-top: 9.5px;
	width: 12px;
	height: 12px;
}
.huodong_tit p span,.fenlei_tit p span{
	float: right;
}
.huodong_txt,.fenlei_txt{
	padding-bottom: 10px;
	width: 100%;
}
.huodong_txt a{
	display: inline-block;
	float: left;
	width:49.335%;
}
.huodong_txt a img,.fenlei_txt a img{
	width: 100%;
	height: 100%;
}
.huodong_txt a:nth-child(2){
	float: right;
}
/**/
.fenlei{
	padding: 0 8.5px;
	margin-top: 10px;
	width: 100%;
	background: #fff;
}
.fenlei_txt a{
	display: inline-block;
	margin: 0 0.43%;
	float: left;
	width:24.095%;
	height: 82px;
	position: relative;
	overflow: hidden;
}
.fenlei_txt a img{
	width: 100%;
	height: 100%;
}
.fenlei_txt a span{
	padding:3px 5px;
	display: inline-block;
	width: 20px;
	height: 65px;
	line-height: 14px;
	background: rgba(0,0,0,0.5);
	color: #fff;
	font-size:12px ;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}
/**/
.shangpin{
	margin-top: 10px;
	padding:0 8.5px;
	width: 100%;
	background: #fff;	
}
.shangpin_top{
	width: 100%;
}
.shangpin_top a{
	display:inline-block ;
	float: left;
	margin: 0 0.5%;
	margin-bottom: 3px;
	width:49%;
	height: 178px;
	position: relative;
	overflow: hidden;
}
.shangpin_bot{
	padding-bottom: 8.5px;
	width: 100%;
}
.shangpin_bot a{
	float: left;
	margin: 0 0.5%;
	margin-bottom: 3px;
	width:32.336%;
	height: 98px;
	position: relative;
	overflow: hidden;
	
}
.shangpin_top a img,.shangpin_bot a img{
	width: 100%;
	height: 100%;
}
.shangpin_top a span,.shangpin_bot a span{
	padding: 0 2%;
	display: inline-block;
	width: 100%;
	height: 25px;
	line-height: 25px;
	background: rgba(0,0,0,0.5);
	color: #fff;
	font-size:12px ;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;
}


/**/
nav{
	padding: 0 !important;
	width: 100%;
	height: 50px !important;
	background: #fff !important;
	box-shadow: none !important;
	border-top: 1px solid #ccc !important;
}
nav a{
	display: inline-block;
	float: left;
	width: 25%;
	height: 50px;
	position: relative;
}
nav a img{
	margin: 8px auto;
	width: 20px;
	height: 20px;
}
nav a span{
	display: inline-block;
	width: 100%;
	height: 10px;
	text-align: center;
	line-height: 10px;
	color: #333333;
	font-size: 10px;
	position: absolute;
	bottom: 4px;
}
nav a:nth-child(1) span{
	color: #fd5100;
}

/**/
.amap-ui-mobi-city-picker.light .topbar{
	background-color: #FD5100 !important;
}
.amap-ui-mobi-city-picker .topbar .title{
	color: #fff !important;
}
.amap-ui-mobi-city-picker .search-box{
		padding:0 !important;
		font-size:.6rem !important;
		border-radius: 15px !important;
		padding-left:10px !important;
	}
	.amap-ui-mobi-city-picker, .amap-ui-mobi-city-picker input[type=text]{
		height:30px;
		background: transparent;
	}
	.amap-ui-mobi-city-picker .closebtn{
		background:url("../../img/shouye/icon_back@2x.png") no-repeat 15px center !important ;
		background-size:12px 20px !important ;
	}
	.amap-ui-mobi-city-picker .city_anchor a{
		    color: #FD5100 !important;
	}
	.amap-ui-mobi-city-picker .listgroup .citylist .item,.amap-ui-mobi-city-picker .current_city,.amap-ui-mobi-city-picker.light .top_group .citylist .item{
		color:#333 !important;
		font-size:.7rem !important;
	}

