body {
	width: 100%;
	background-color: #f5f5f5;
	font-family: "微软雅黑";
	color: black;
}

img{padding:0; border:0;margin:0;display:block;}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
	width: 1px;
	height: 1px;
	background-color: transparent;
}


/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px transparent;
	border-radius: 1px;
	background-color: transparent;
}


/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
	border-radius: 1px;
	-webkit-box-shadow: inset 0 0 6px transparent;
	background-color: transparent;
}

html {
	width: 100%;
}

* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: black
}

img {
	border: none;
}


/* 去除IE下默认边框,顶部对齐 */

p {
	margin: 0;
	padding: 0;
}

.mui-bar {
	padding: 0 !important;
	height: 44px;
	padding: 0 10px;
	background: #fd5100;
}

.mui-bar .back {
	float: left;
	width: 10.325%;
	height: 44px;
	display: inline-block;
	position: relative;
}

.mui-bar .back img {
	width: 11px;
	height: 19px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.mui-title {
	float: left;
	text-align: center;
	color: #fff;
	font-size: 15px;
}

.mui-bar-nav~.mui-content {
	padding-top: 44px;
	margin-bottom: 60px;
	background: #f5f5f5;
}
.main_one{
	width: 100%;
	padding: 0 10px;
	background: #fff;
}
.one_top{
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #ddd;
	position: relative;
}
.one_top a{
	display: inline-block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.one_bot{
	width: 100%;
	height: 44px;
}
.one_top div,.one_bot div{
	float: left;
}
.one_top_left{
	width: 19px;
	height: 60px;
}
.one_bot_left{
	width: 19px;
	height: 44px;
}
.one_top_left img{
	margin-top:25px;
	width: 8px;
}
.one_bot_left img{
	margin-top:16px;
	width: 12px;
}
.one_top_mid{
	padding: 10px 0;
	width:89%;
}
.one_bot_mid{
	width: 269px;
}
.one_top_mid p{
	width: 100%;
	line-height: 20px;
	font-size: 12px;
	color: #333;
}
.one_top_mid p:nth-child(2){
	color: #666;
}
.one_bot_mid p{
	width: 100%;
	line-height: 44px;
	font-size: 12px;
	color: #333;
}
.one_top_right,.one_bot_right{
	float: right !important;
	width: 12px;
}
.one_top_right img{
	float: right;
	margin-top: 25px;
	width: 7px;
}
.one_bot_right img{
	float: right;
	margin-top: 17px;
	width: 7px;
}
/**/
.main_two{
	margin-top: 10px;
	width: 100%;
	background: #fff;
}
.two_tit{
	padding: 5px 10px 5px 24px;
	width: 100%;
	height: 30px;
	position: relative;
	border-bottom: 1px solid #ddd;
}
.two_tit a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.two_tit span{
	display: inline-block;
}
.two_tit span:nth-child(1){
	margin-right: 5px;
	width: 3px;
	height: 12px;
	background: #FD5100;
	position: absolute;
	top: 9px;
	left: 10px;
}
.two_tit span:nth-child(2){
	width: 89%;
	height: 12px;
	line-height: 12px;
	color: #333333;
	font-size: 12px;
	position: absolute;
	top: 9px;
	left: 24px;
}
.two_tit span:nth-child(3){
	float: right;
}
.two_tit span:nth-child(3) img{
	width: 7px;
	margin-top: 4px;
}
.two_txt{
	padding: 10px 10px 0 10px;
	width: 100%;
}
.two_txt_list{
	padding-bottom: 10px;
	width: 100%;
}
.two_txt_list div{
	float: left;
	
}
.two_txt_list div:nth-child(1){
	margin-right: 10px;
	width: 55px;
}
.two_txt_list div:nth-child(1) img{
	width: 100%;
}
.two_txt_list div:nth-child(2){
	width: 235px;
}
.two_txt_list div:nth-child(2) p:nth-child(1){
	width: 100%;
	height: 15px;
	line-height: 15px;
	color: #333333;
	font-size: 15px;
}
.two_txt_list div:nth-child(2) p:nth-child(1) span:nth-child(2){
	float: right;
	color: #FD5100;
	font-size: 12px;
}
.two_txt_list div:nth-child(2) p:nth-child(2){
	width: 100%;
	height:30px;
	line-height:30px;
	color: #666;
	font-size: 12px;
}
.two_peisong{
	padding: 0 10px;
	width: 100%;
	background: #fff;
}
.two_peisong div{
	padding: 6px 0;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}
.two_peisong p{
	width: 100%;
	height: 20px;
	line-height: 20px;
	color: #333;
	font-size: 12px;
}
.two_peisong p span:nth-child(2){
	float: right;
}
.two_jiage{
	padding: 0 10px;
	width: 100%;
	height: 45px;
}
.two_jiage p{
	width: 100%;
	height: 45px;
	line-height: 45px;
	color: #2F9EF0;
	font-size: 12px;
}
.two_jiage p span:nth-child(2){
	float: right;
	color: #FD5100;
}
.main_three{
	padding:  0 10px;
	margin-top: 10px;
	width: 100%;
	background: #fff;

}
.main_three p{
	width: 100%;
	height: 44px;
	line-height: 44px;
	border-bottom: 1px solid #ddd;
}
.main_three p:last-child{
	border: none;
}
.main_three p span:nth-child(1){
	float: left;
	color: #333333;
	font-size: 12px;
}
.main_three p span:nth-child(2){
	float: right;
	color: #333333;
	font-size: 12px;
}
.ps_type .ps_type_txt{
	padding-left: 10px;
	display: inline-block;
	float: left !important;
	width: 50%;
	height: 44px;
}
.main_three p img{
	float: right;
	width: 7px;
	margin-top: 18px;
}
.main_three p input{
	margin-bottom: 0;
	margin-top: 2px;
	float: right;
	width: 83%;
	text-align: right;
	height: 40px;
	line-height: 40px;
	color: #333333;
	font-size: 12px;
	border: none;
}
/*placeholder样式*/
::-webkit-input-placeholder {color:#666;font-size: 12px; }
::-moz-placeholder {color:#666;font-size: 12px;} /* firefox 19+ */
:-ms-input-placeholder {color:#666;font-size: 12px;} /* ie */
input:-moz-placeholder {color:#666;font-size: 12px;}

/*底部*/
/*底部*/
nav{
	background: white !important;
	height: 49px !important;
	position: relative;
}

nav>p{
	float: left;	
}
nav>p:nth-child(1){
	padding: 0 10px;
	width: 75%;
	height: 50px;
	line-height: 50px;
	color: #333333;
	font-size: 12px;
}
nav>p:nth-child(1) span:nth-child(2){
	color: #FD5100;
	font-size: 15px;
}
nav>p:nth-child(2){
	width:25%;
	height:49px;
	line-height:49px;
	text-align: center;
	color: white;
	font-size:14px;
	background: #FD5100;
	position: absolute;
	top: 0;
	right: 0;	
}
nav>p:nth-child(2) a{
	display: inline-block;
	width: 100%;
	height: 100%;
	color: white;
	font-size:14px;
}
/*//*/
.mui-dtpicker{
	background: #fff;
}
.mui-dtpicker-title{
	background: #fff;
}
.mui-dtpicker-body{
	background: #fff;
}
.mui-dtpicker-title h5{
	background: #fff;
}
.mui-picker{
	background: #fff;
}
.mui-btn-blue{
	background: #FD5100;
	border: #FD5100;
}
.mui-pciker-list li{
	font-size: 12px;
}
.mui-poppicker-header p{
	display: none !important;
}
