body{
	width: 100%;
	height: 100%;
	background-color:#Fff ;
	font-family: "微软雅黑";
	color: black;
}
html{
	width: 100%;
	height: 100%;
}
*{
	margin: 0;
	padding: 0;
}
li { list-style:none; }
a { text-decoration:none;color: black }
img { border:none;}  /* 去除IE下默认边框,顶部对齐 */
p{margin: 0;padding: 0;}
.mui-bar{
	padding: 0 !important;
	height:44px;
	padding: 0 10px;
	background: #fd5100;
}
.mui-bar .back{
	float: left;
	width: 10.325%;
	height: 44px;
	display: inline-block;
	position: relative;
}
.mui-bar .back img{
	width: 11px;
	height: 19px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.mui-bar .ss{
	display: inline-block;
	float: right;
	width: 10.325%;
	height: 44px;
	line-height: 44px;
	color: #fff;
	position: relative;
	font-size: 12px;
}

.mui-title{
	color: #fff;
	font-size:15px ;
}
.mui-bar-nav~.mui-content{
	width: 100%;
	height: 100%;
	padding-top:44px;
	padding-bottom: 60px;
	background: #fff;
}
.main_top{
	width: 100%;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.main_top img{
	margin-left:42%;
	/*margin-top: 82px;*/
	width:15.94%;
}
.main_top p{
	margin-bottom: 41px;
	width: 100%;
	height: 44px;
	line-height: 44px;
	text-align: center;
	color: #FD5100;
	font-size: 13px;
}



